body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
}
button{
    padding: 10px 30px 10px 30px;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    border:2px solid magenta;
}
.blue{
    background-color: aqua;
}
.red{
    background-color: crimson;
}